.footer {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .footer--logo-slogan {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .footer--logo {
      height: 45px;
    }

    .footer--slogan {
      color: white;
      font-size: $text-medium;
      padding: .5rem;
      text-transform: uppercase;
    }

  }

  .footer--rights {
    align-self: flex-end;
    color: white;
    font-size: $text-small;
    justify-self: flex-end;
    padding: 1rem .2rem 0;
  }

}
