.footer {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .footer-logo-slogan {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    .footer-logo {
      height: 45px;
    }

    .footer-slogan {
      color: white;
      font-size: $text-medium;
      padding: 8px;
      text-transform: uppercase;
    }
  }

  .footer-rights {
    align-self: flex-end;
    color: white;
    font-size: $text-small;
    justify-self: flex-end;
    padding: 16px 4px 0;
  }
}


@media screen and (max-width: 1024px) {
  .footer {
    .footer--rights {
      align-self: center;
      justify-self: center;
    }
  }
}
