.navbar {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  left: 0;
  padding: 24px 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .navbar--logo {
    height: 100%;
    max-height: $nav-height - 48px; // Fix for Safari
  }

  .navbar--title {
    font-size: $text-medium;
  }

}


@media screen and (max-width: 1024px) {
  .navbar {
    .navbar--title {
      visibility: hidden;
    }
  }
}
