body {
  font-family: Roboto, 'sans-serif';
}

.content {
  margin-top: $nav-height;
  padding: 16px;
}

.tools-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 32px auto 48px;
  max-width: 1000px;
  position: relative;

  .title {
    flex: 1;
    width: 100%;
  }
}

.tools-section:first-child {
  margin-top: 0;
}

.tech-cards {
  display: flex;
  flex-flow: row wrap;
  max-width: 940px;
}
