body {
  font-family: Roboto, 'sans-serif';
}

.tools-section {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 2rem auto 3rem;

  .title {
    width: 100%;
    flex: 1;
  }
}

.tech-cards {
  display: flex;
  flex-flow: row wrap;
  max-width: 940px;
}
