body {
  font-family: Roboto, 'sans-serif';
}

.content {
  margin-top: $nav-height;
  padding: 16px;
}

.tools-section {
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  margin: 32px auto 48px;
  max-width: 1000px;
  position: relative;

  .title {
    flex: 1;
    width: 100%;
  }

  &::first-child {
    margin-top: 0;
  }
}

.tech-cards {
  align-self: center;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 940px;
}

.tech-card:first-child {
  border-right: 2px solid $color-green;
  grid-row: span 2;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .tools-section {
    justify-content: center;

    &::first-child {
      margin-top: unset;
    }
  }

  .tech-cards {
    grid-auto-flow: row;
    grid-template-columns: unset;
  }

  .tech-card:first-child {
    grid-row: span 1;
  }
}