.tech-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 8px;
  position: relative;
  width: $tech-logo-size * 2;

  .card-logo {
    height: $tech-logo-size;
    margin: 0;
    width: $tech-logo-size;
  }
  
  .card-title {
    font-size: $text-medium;
    margin: 10px;
  }
  
  .card-date {
    font-size: $text-small;
    font-weight: bold;
  }
  
  .card-desc {
    font-size: $text-small;
    text-align: center;
    padding: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .tech-card:not(:last-child) {
    border: 1px solid $color-green;
    border-width: 0 0 2px 0;
    // border-color: $color-green;
  }
}